.message-list {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .message-toolbar {
        width: 100%;
    }
    .message-content {
        padding: 10px;
        flex: 1;
        padding-top: 15px;
        overflow-y: auto;
    }
    .message-compose {
        width: 100%;
    }
}
