.compose {
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #eeeef1;
    width: 100%;
    box-sizing: border-box;

    textarea {
        background: #f4f4f8;
        border: none;
        padding: 12px 25px;
        font-size: 14px;
        resize: none;
        flex: 1;

        &::placeholder {
            opacity: 0.8;
        }
    }
    .compose-toolbar {
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        padding: 0 10px;
        box-sizing: border-box;
    }

    svg {
        font-size: 29px;
        color: #007aff;
        &:hover {
            color: #007bff8a;
            cursor: pointer;
        }
    }
}

//   @supports (backdrop-filter: blur(20px)) {
//     .compose {
//       border: none;
//       background-color: rgba(255, 255, 255, 0.8);
//       backdrop-filter: blur(20px);
//     }
//   }
